/* ============  Color variables =========== */
$white: #fffff1;
$black: #212226;
$green: #72a603;
$yellow: #f29f05;
$orange: #d97218;
$red: #d90404;

$font1: "Baloo Bhaijaan 2", cursive;

/* ============ Background colors ============ */
.bg-black {
  background-color: $black;
}

.bg-green {
  background-color: $green;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-orange {
  background-color: $orange;
}

.bg-red {
  background-color: $red;
}

/* ============== Commonly used ============== */
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.style-image {
  max-width: 50%;
  max-width: 275px;
  max-height: 275px;
}

.width-60 {
  width: 60%;
}

.padding-y-3 {
  padding: 3em 0;
}
/* ============ Styles for mobile ============ */
* {
  letter-spacing: 1px;
  color: $black;
  font-family: $font1;
}

/* ================ Process 1 ================ */
.process {
  text-align: center;

  h1 {
    color: $white;
    font-size: 3em;
    font-weight: bolder;
    padding-top: 1em;
  }

  p {
    font-size: 1.2em;
    color: $white;
  }
}

.grid-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  max-width: 80%;
}

.relative-position {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  max-width: 275px;
  max-height: 275px;
}

/* ================ Process 2 ================ */
.p2-text {
  width: 40%;
  margin-top: 2em;
}

.p2-image-1 {
  align-items: right;
}

.style-arrow {
  padding: 0;
}

/* ================ Process 6-9 ================ */
h4 {
  border: #fffff1;
  border-radius: 2em;
  margin: auto;
  color: white;
  width: 50%;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
  &:hover {
    opacity: 1;
    background-color: rgba(33, 34, 38, 0.75);
  }
}

.my-img {
  margin: auto;
}

/* =========== Media query for Tablet ========== */
@media only screen and (min-width: 768px) {
  /* ================ Process 1 ================ */
  .grid-display {
    grid-gap: 3em;
  }

  .hover-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    &:hover {
      opacity: 1;
      background-color: rgba(33, 34, 38, 0.75);
    }
    p {
      font-size: 1.5em;
      margin-top: 50%;
      transform: translateY(-50%);
    }
  }

  /* ================ Process 2 ================ */
  .style-arrow {
    transform: rotate(-10deg);
  }
}

/* ========== Media query for Desktop ========== */
@media only screen and (min-width: 992px) {
  /* ================ Process 1 ================ */
  .grid-display {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ================ Process 2 ================ */
  .style-arrow {
    transform: rotate(-20deg);
    padding: 0;
  }
}

/* =========== Media query for Huge =========== */
@media only screen and (min-width: 1280px) {
}
