/* ============  Color variables =========== */
$black: #212226;
$green: #72a603;
$yellow: #f29f05;
$orange: #d97218;
$red: #d90404;

/* ============== Media query ============== */
/* Tablet */
@media only screen and (min-width: 768px) {
}

/* Desktop */
@media only screen and (min-width: 992px) {
}

/* Huge */
@media only screen and (min-width: 1280px) {
}
